.border-start-success {
  margin-bottom: 50px;
}

div {
  margin: 0px;
  padding: 0px;
}

.dropdown {
}

.dropdown {
  max-width: 100px;
}

div {
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

